{% extends 'base.html' %}

{% block title %}Spell Data{% endblock %}

{% block content %}
    <div class="form-container">
        <form action="/spell-data" method="GET">
            <div class="form-group">
                <label for="level">Level:</label>
                <input type="text" id="level" name="level">
            </div>

            <div class="form-group">
                <label for="magic-level">Magic Level:</label>
                <input type="text" id="magic-level" name="magic-level">
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
